<main th:fragment="perfilForm"
	class="container-fluid m-main d-flex flex-row align-items-center flex-wrap justify-content-center gap-5">

<div class="row">
	<div class="col-12 col-md-6 d-flex flex-column align-items-center p-5">

		<form method="post" th:action="@{/modificarPass}">
			<fieldset
				class="row border border-3 border-secondary rounded bg-secondary bg-opacity-25 p-5">

				<legend class="text-center h3 fw-normal">Modificar
					contraseña</legend>

				<div
					class="form-group mb-4 d-flex flex-column align-items-center w-100">
					<label class=" control-label mb-1 align-self-start" for="pass">Password</label>
					<input th:field="${passDTO.pass}" id="pass" name="pass"
						type="password"
						class="form-control w-100 border border-black border-1">
					<div class="text-danger"
						th:if="${tipo == 'pass' and #fields.hasErrors('passDTO.pass')}"
						th:errors="*{passDTO.pass}"></div>

				</div>

				<div
					class="form-group mb-4 d-flex flex-column align-items-center w-100">
					<label class=" control-label mb-1 align-self-start" for="passTwo">Repetir
						password</label> <input th:field="${passDTO.passTwo}" id="passTwo"
						name="passTwo" type="password"
						class="form-control w-100 border border-black border-1">
					<div class="text-danger"
						th:if="${tipo == 'pass' and #fields.hasErrors('passDTO.passTwo')}"
						th:errors="*{passDTO.passTwo}"></div>

				</div>

				<div
					class="form-group mb-4 d-flex flex-column align-items-center w-100">
					<label class=" control-label mb-1 align-self-start" for="passLast">password
						Anterior</label> <input th:field="${passDTO.passLast}" id="passLast"
						name="passLast" type="password"
						class="form-control w-100 border border-black border-1">
					<div class="text-danger"
						th:if="${tipo == 'pass' and #fields.hasErrors('passDTO.passLast')}"
						th:errors="*{passDTO.passLast}"></div>

				</div>

				<input th:field="${perfilDTO.email}" id="email" name="email"
					type="email" class="d-none"> <input
					th:field="${perfilDTO.nombre}" id="nombre" name="nombre"
					type="text" class="d-none"> <input
					th:field="${perfilDTO.apellidos}" id="apellidos" name="apellidos"
					type="text" class="d-none">




				<div
					class="form-group mb-4 d-flex justify-content-center align-items-center">
					<button type="submit" name="modificar" value="modificar"
						class="btn btn-dark">Modificar</button>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="col-12 col-md-6 d-flex flex-column align-items-center p-5">

		<form method="post" th:action="@{/modificarPerfil}">
			<fieldset
				class="row border border-3 border-secondary rounded bg-secondary bg-opacity-25 p-5">

				<legend class="text-center h3 fw-normal">Datos del perfil</legend>


				<div
					class="form-group mb-4 d-flex flex-column align-items-center w-100">
					<label class="control-label mb-1 align-self-start" for="email">Email</label>
					<input th:field="${perfilDTO.email}" id="email" name="email"
						type="email"
						class="form-control w-100 border border-black border-1">
					<div class="text-danger"
						th:if="${tipo == 'perfil' and #fields.hasErrors('perfilDTO.email')}"
						th:errors="*{perfilDTO.email}"></div>

				</div>
				<div
					class="form-group mb-4 d-flex flex-column align-items-center w-100">
					<label class=" control-label mb-1 align-self-start" for="nombre">Nombre</label>
					<input th:field="${perfilDTO.nombre}" id="nombre" name="nombre"
						type="text"
						class="form-control w-100 border border-black border-1">
					<div class="text-danger"
						th:if="${tipo == 'perfil' and #fields.hasErrors('perfilDTO.nombre')}"
						th:errors="*{perfilDTO.nombre}"></div>

				</div>

				<div
					class="form-group mb-4 d-flex flex-column align-items-center w-100">
					<label class=" control-label mb-1 align-self-start" for="apellidos">Apellidos</label>
					<input th:field="${perfilDTO.apellidos}" id="apellidos"
						name="apellidos" type="text"
						class="form-control w-100 border border-black border-1">
					<div class="text-danger"
						th:if="${tipo == 'perfil' and #fields.hasErrors('perfilDTO.apellidos')}"
						th:errors="*{perfilDTO.apellidos}"></div>

				</div>
				<div
					class="form-group mb-4 d-flex justify-content-center align-items-center">
					<button type="submit" name="modificar" value="modificar"
						class="btn btn-dark">Modificar</button>
				</div>
			</fieldset>
		</form>
	</div>

</div>

</main>